[submodule "controls/asemic"]
	path = libs/asemic
	url = https://github.com/j-palindrome/asemic.git
[submodule "controls/oscPresets"]
	path = controls/oscPresets
	url = https://github.com/j-palindrome/oscPresets.git
[submodule "controls/util"]
	path = libs/util
	url = https://github.com/j-palindrome/util.git
